* {
	padding: 0px;
	margin: 0 auto;
}
	
#map-div {
	overflow: hidden;
	width: 100%;
	background-color: black;
	z-axis: 0;
}
		
#map-navigation-centre, #map-navigation-return {
	position: absolute;
	bottom: 5px;
	width: 50px;
	height: 50px;
	background-color: yellow;
	z-axis: 5;
}
			
#map-navigation-centre {
	right: 5px;
}
			
#map-navigation-return {
	display: none;
	bottom: 60px;
	right: 5px;
}

@charset "utf-8";

h1
{
	font-size:12px;
}

#link_get_widget
{
	visibility:hidden;
	display:none;
}

header
{
	text-align:center;
}

.aw-widget-current-inner
{
    max-width:none;
}


#controls {
position: relative;
text-align: center;
width: 250px;
height: auto;
z-index: 10000;
padding: 0;
margin-top:10px;
}

#searchbutton{
    position:absolute; 
    top:0px;
    left:171px;
    border:none;
    background-color:#0055A4;
    color:#fff;
    height:25px;
    width:auto;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
}

#address{
    position:absolute;
    top:0px;
    left:0px;
    width:170px;
    height:25px;
    border: 0px solid #498af3;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    text-indent:10px;
}

#savednotes ul li 
{
    background-color:#CCECFD;
	color:#0055a4;
    margin-bottom:1px;
	padding: 7px 10px;
	border: 1px solid ##CBD2D8;
}

.event-holder {
   position: relative; 
   width: 100%; /* for IE 6 */
   height: 250px;
   overflow-y: hidden;
}

.event-holder img {
	width: inherit;
}

h2 {
	position: absolute;
	bottom: 0px;  
	width: 100%;
}

h2 span { 
	float: left;
	border-right: 25px;
	color: white;
	font: bold 24px/45px Helvetica, Sans-Serif; 
	letter-spacing: -1px;  
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7); 
}

h2 span:last-child {
	margin-left: 50px;
}

#news {
	width: 100%;
	height: 50px;
}

#news li {
	display:	block;
	overflow:	hidden;
	width:		100%;
	height:		1%	;
}